// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$white: #fffaf2;
$gray-100: shade-color($white, 10%);
$gray-200: shade-color($white, 20%);
$gray-300: shade-color($white, 30%);
$gray-400: shade-color($white, 40%);
$gray-500: shade-color($white, 50%);
$gray-600: shade-color($white, 60%);
$gray-700: shade-color($white, 70%);
$gray-800: shade-color($white, 80%);
$gray-900: shade-color($white, 90%);

$body-bg: #fff5e3;
$body-secondary-bg: shade-color($body-bg, 20%);
$body-tertiary-bg: shade-color($body-bg, 10%);

$input-bg: $white;
$dropdown-bg: $white;
$dropdown-link-hover-bg: $gray-100;

@import "../node_modules/bootstrap/scss/bootstrap";
