#bio {
	background-color: yellow;
	width: 100%;
}

.second-section {
	margin-top: 30px;
}

.image-box {
	display: flex;
	width: 75%;
}

.image-box>img {
	border: 1px solid;
	color: black;
	margin-top: auto;
	margin-bottom: auto;
	flex: 1;
	min-width: 0;
}